{% extends 'dashboard/dashboard_base.html.twig' %}

{% block title %}New TelegramBotIntegration{% endblock %}

{% block body %}
    <h1>Create new TelegramBotIntegration</h1>

    {{ include('telegram_bot_integration/_form.html.twig') }}

    <a href="{{ path('app_telegram_bot_integration_index') }}">back to list</a>
{% endblock %}
